p

{
    color:rgb(236, 15, 118);
    font-size: xx-large;
}

#tekst
{
    font-size: larger;
    color:rgb(184, 233, 184)
}

body{background-image: url("when-did-the-first-forests-on-earth-appear-picture-1-qReBO4kTB.jpg");

background-repeat: no-repeat;background-size: 1600px;}


#div1

{
     background-color:antiquewhite ;
}

#div2
{
    background-color: antiquewhite;
}

#div3
{
    background-color: antiquewhite;
}

#div4
{
    background-color: ;
}
